<div id="posts" class="container">
{{#each posts as |post| }}
<article class="box">
  <header class="columns is-vcentered">
    <div class="column">
      <h1 class="title"><a href="/posts/{{post.id}}">{{post.title}}</a></h1>
    </div>
    <div class="column is-narrow">
      <h2 class="subtitle">Posted by <span class="has-text-info">{{post.user.name}}</span> on <span
        class="has-text-info">{{as_date post.updatedAt}}</span></h2>
    </div>
  </header>
  <div class="content">{{post.body}}
  </div>
</article>
{{/each}}
</div>